% include('head.tpl')
<body>
        <div class="ui hidden divider"></div>
<div class="ui container">
        <table  class="ui very basic table">
                <thead>
                    <tr>
            
                    <th>Search id</th>
                    <th>Search Term</th>
                    <th>Location (zip code)</th>
                    
                    </tr>
                </thead>
                <tbody>
                    %for r in r:
                    <tr>
            
            
                    <td><a href="/result/{{r.searchid}}">{{r.searchid}}</a></td>
                    <td>{{r.sterm}}</td>
                    <td>{{r.sloc}}</td>
               
            
                    </tr>
                    %end
                </tbody>
            
            </table>
</div>


</body>
</html>